@import url(./_theme/section-title_theme_dark.css);
@import url(./_theme/section-title_theme_techniques.css);

.section-title {
    align-self: center;
    text-align: center;
    font-weight: bold;
  }